body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* header */
header {
  display: flex;
  height: 75px;
  justify-content: space-between;
  background: #1f2937;
  padding: 20px 200px;
}

.logo {
  max-height: 75px;
}

header a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

header ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* section one */
.sec-one {
  display: flex;
  background: #1f2937;
  min-height: 500px;
  padding: 0 200px;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 450px;
  height: 300px;
}

.placeholder {
  max-width: 450px;
}

button {
  height: 35px;
  width: 120px;
  border-radius: 15px;
  background: #3882f6;
  color: #f9faf8;
  border-style: none;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
}

button:active {
  background: #f9faf8;
  color: #3882f6;
}

.left-side p {
  margin: 15px 0;
  color: #e5e7eb9a;
  color: ;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

/* section two */

.sec-two {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  padding: 0 200px;
  gap: 10px;
}

.sec2-title {
  text-align: center;
  font-size: 36px;
  margin: 40px;
  font-weight: bold;
  color: #1f2937;
}

.sec2-img {
  width: 200px;
  height: auto;
  border: 5px solid #1f2937;
  border-radius: 15px;
}

.sec2-img-div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

figure {
  margin: 0;
}

figcaption {
  max-width: 200px;
  text-align: center;
  margin-bottom: 10px;
}

/* section three */

.sec-three {
  min-height: 500px;
  padding: 0 200px;
  background: #e5e7e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec-three p {
  color: #1f2837;
  font-weight: lighter;
  font-size: 36px;
  font-style: italic;
  text-align: center;
}

.author {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  align-self: flex-end;
}

/* section four */

.sec-four {
  min-height: 300px;
  padding: 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-call {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #3882f6;
  color: #f9faf8;
  min-height: 150px;
  width: 66vw;
}

.sec-four button {
  height: 35px;
  min-width: 120px;
  border: 3px solid #f9faf8;
  border-radius: 15px;
  background: #3882f6;
  color: #f9faf8;
}

.sec-four button:active {
  background: #f9faf8;
  color: #3882f6;
}

/* footer */

footer {
  display: flex;
  height: 75px;
  background: #1f2937;
  color: #e5e7eb9a;
  justify-content: center;
  align-items: center;
}
